@model IEnumerable<Course_progect_TP.Models.Route>

@{
    ViewBag.Title = "GetAllRoutes";
}

<h2>Маршруты</h2>
@if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
{
    <p>
        @Html.ActionLink("Добавить маршрут", "CreateRoute")
    </p>
}
<table class="table">
    <tr>
        <th>
            Номер маршрута
        </th>
        <th>
            Начальная остановка
        </th>
        <th>
            Конечная остановка
        </th>
        <th>
            Стоимость
        </th>
        <th>
            Время в пути
        </th>
        @if (User.IsInRole("Dispatcher"))
        {
            <th>
                Состояние
            </th>
            <th>
                Изменить состояние
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Route_state == 1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Final_stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travel_time)
                </td>
                @if (User.IsInRole("Dispatcher"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.GetState)
                    </td>
                    <td>
                        @Html.ActionLink("Снять", "ChangeStateRoute", new { id = item.Id_Route, state = 2 })
                    </td>
                }
                <td>
                    @Html.ActionLink("Рейсы", "GetFlights", new { id = item.Id_Route })
                    @if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
                    {
                        @Html.ActionLink("| Редактировать ", "EditRoute", new { id = item.Id_Route })
                        @Html.ActionLink("| Удалить", "DeleteRoute", new { id = item.Id_Route })
                    }
                </td>
            </tr>
        }
        else
        {
            if (User.IsInRole("Dispatcher"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_stop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Final_stop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Travel_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GetState)
                    </td>
                    <td>
                        @Html.ActionLink("Принять", "ChangeStateRoute", new { id = item.Id_Route, state = 1 })

                    </td>
                    <td>
                        @Html.ActionLink("Рейсы", "GetFlights", new { id = item.Id_Route })
                        @Html.ActionLink("| Редактировать ", "EditRoute", new { id = item.Id_Route })
                        @Html.ActionLink("| Удалить", "DeleteRoute", new { id = item.Id_Route })
                    </td>
                </tr>
            }
        }
    }

</table>
<p>
    @Html.ActionLink("На главную", "Index")
</p>
