@model IEnumerable<Course_progect_TP.Models.Route>

@{
    ViewBag.Title = "GetAllRoutes";
}

<h2>Routes</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create new route", "CreateRoute")
    </p>
}
<table class="table">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Id_Route)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.RouteNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_stop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final_stop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Travel_time)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Route_state)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Route_state == 1)
        {
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Route)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.RouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Final_stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travel_time)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Route_state)
                    </td>
                }
                <td>
                    @Html.ActionLink("Flights", "GetFlights", new { id = item.Id_Route })
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("| Edit ", "EditRoute", new { id = item.Id_Route })
                        @Html.ActionLink("| Delete", "DeleteRoute", new { id = item.Id_Route })
                    }
                </td>
            </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("To the main", "Index")
</p>
