@model IEnumerable<Course_progect_TP.Models.User>

@{
    ViewBag.Title = "GetAllUsers";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Добавить пользователя", "CreateUser")
</p>
<p>
    @Html.ActionLink("Зарегистировать пользователя", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Стаж
        </th>
        <th>
            Должность
        </th>
        <th>
            Почта
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.ActionLink("Назначить должность", "SetRoleUser", new { id = item.Id_User })|
                @Html.ActionLink("Редактировать", "EditUser", new { id = item.Id_User }) |
                @Html.ActionLink("Удалить", "DeleteUser", new { id = item.Id_User })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("На главную", "Index")
</p>
