@model IEnumerable<Course_progect_TP.Models.Transport>

@{
    ViewBag.Title = "GetAllTransports";
}

<h2>Транспорт</h2>

<p>
    @Html.ActionLink("Добавить транспорт", "CreateTransport")
</p>
<table class="table">
    <tr>
        <th>
            Модель
        </th>
        <th>
            Номер
        </th>
        <th>
            Год выпуска
        </th>
        <th>
            Состояние
        </th>
        <th>
            Изменить состояние
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Release_year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GetTransportState)
    </td>
    <td>
        @if (item.Transport_state == 2)
        {
        @Html.ActionLink("Поставить", "ChangeStateTransport", new { id = item.Id_Transport, state = 1 })
        }
        @if (item.Transport_state == 1)
        {
        @Html.ActionLink("Снять", "ChangeStateTransport", new { id = item.Id_Transport, state = 2 })
        }
    </td>
    <td>
        @Html.ActionLink("Редактировать", "EditTransport", new { id = item.Id_Transport }) |
        @Html.ActionLink("Удалить", "DeleteTransport", new { id = item.Id_Transport })
    </td>
</tr>
}

</table>
<p>
    @Html.ActionLink("На главную", "Index")
</p>
