@model IEnumerable<Course_progect_TP.Models.Flight>

@{
    ViewBag.Title = "GetConductorsFlights";
}

<h2>Show conductor's flights</h2>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Start time
        </th>
        <th>
            End time
        </th>
        <th>
            Route Number
        </th>
        <th>
            Driver
        </th>
        <th>
            Conductor
        </th>
        <th>
            Transport number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flight_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetRouteNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetDriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetConductorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetTransport)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("To the main", "Index")
</p>
