@model IEnumerable<Course_progect_TP.Models.Flight>

@{
    ViewBag.Title = "GetDriversFlights";
}

<h2>Мои рейсы</h2>

<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Начальное время
        </th>
        <th>
            Конечное время
        </th>
        <th>
            Номер маршрута
        </th>
        <th>
            Водитель
        </th>
        <th>
            Кондуктор
        </th>
        <th>
            Транспорт
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flight_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetRouteNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetDriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetConductorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetTransport)
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("На главную", "Index")
</p>
