@model IEnumerable<Course_progect_TP.Models.Flight>

@{
    ViewBag.Title = "GetFlights";
}

<h2>Рейсы</h2>
@if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
{
    <p>
        @Html.ActionLink("Добавить рейс", "CreateFlight")
    </p>
}
<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Начальное время
        </th>
        <th>
            Время завершения
        </th>
        <th>
            Номер маршрута
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
                Водитель
            </th>
            <th>
                Кондуктор
            </th>
            <th>
                Транспорт
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetRouteNumber)
            </td>

            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.GetDriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetConductorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetTransport)
                </td>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "EditFlight", new { id = item.Id_Flight }) |
                    @Html.ActionLink("Удалить", "DeleteFlight", new { id = item.Id_Flight })
                </td>
            }
        </tr>

    }

</table>
<p>
    @Html.ActionLink("Назад", "GetAllRoutes")
</p>
