@model IEnumerable<Course_progect_TP.Models.Flight>

@{
    ViewBag.Title = "GetFlights";
}

<h2>Flights</h2>
@if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
{
    <p>
        @Html.ActionLink("Create New Flight", "CreateFlight")
    </p>
}
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Start time
        </th>
        <th>
            End time
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
                Route Number
            </th>
            <th>
                Driver
            </th>
            <th>
                Conductor
            </th>
            <th>
                Transport number
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flight_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_time)
            </td>
            @if (Request.IsAuthenticated)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.GetRouteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetDriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetConductorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetTransport)
                </td>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Dispatcher"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "EditFlight", new { id = item.Id_Flight }) |
                    @Html.ActionLink("Удалить", "DeleteFlight", new { id = item.Id_Flight })
                </td>
            }
        </tr>

    }

</table>
<p>
    @Html.ActionLink("To the Routes list", "GetAllRoutes")
</p>
