@model IEnumerable<Course_progect_TP.Models.Route>
@{
    ViewBag.Title = "Index";
}

<h2>Urban transport</h2>
<p>
    @Html.ActionLink("Show routes", "GetAllRoutes")
</p>
@if (User.IsInRole("Dispatcher"))
{
<p>
    @Html.ActionLink("Show transports", "GetAllTransports")
</p>
}
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Show users", "GetAllUsers")
    </p>
}

@if (User.IsInRole("Driver"))
{
    <p>
        @Html.ActionLink("Show my flights", "GetDriversFlights")
    </p>
}
@if (User.IsInRole("Conductor"))
{
    <p>
        @Html.ActionLink("Show my flights", "GetConductorsFlights")
    </p>
}



