@model Course_progect_TP.Models.User

    @{
        ViewBag.Title = "SetRoleUser";
    }

    <h2>Назначить должность</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.Label("Должность", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Role, ViewBag.RoleList as SelectList)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Назначить" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад", "GetAllUsers")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
